{% load static %}
<!doctype html>
<html lang="ja">
  <head>
    <title>Edit task</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{% static 'todo/style.css' %}" />
  </head>
  <body>
    <h1>Edit task</h1>
    <p>You can edit tasks from the following form.</p>

    <form method="POST">
      {% csrf_token %} <p>
        <label for="id_title">Title</label><br>
        <input type="text" id="id_title" name="title" value="{{ task.title }}">
      </p>

      <p>
        <label for="dueInput">Due at:</label><br />
        <input id="dueInput" name="due_at" type="datetime-local" />
      </p>

      <p>
        <label for="labelSelect">Label</label><br />
        <select id="labelSelect" name="label">
          <option value="">(No label)</option>
          {% for label in labels %}
          <option
            value="{{ label.id }}"
            {% if task.label_id == label.id %}selected{% endif %}
          >
            {{ label.name }}
          </option>
          {% endfor %}
        </select>
      </p>

      <input type="submit" value="Submit">
    </form>
  </body>
</html>